* {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
body {
  background-color: #e5e5e5;
  font-family: "Global User Interface", sans-serif;
}

main {
  width: 100%;
}

/* Collapsible sidebar */

.main-container {
  display: flex;
  width: 100%;
}
/* main {
  padding: 0px;
} */

.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo {
  font-size: 18px;
  line-height: 0;
}

.logo {
  height: 30px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  display: inline-block;
  margin-left: 7px;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.logo_small img {
  max-width: 100%;
  max-height: 100%;
}

.bars {
  width: 30px;
}
.hide {
  display: none;
}

.search {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 30px;
  padding: 10px;
}
.search input {
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  background: rgb(238, 238, 238);

  color: white;
}

.routes {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.link {
  display: flex;
  color: white;
  gap: 10px;
  padding: 5px 10px;
  text-decoration: none;
  align-items: center;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.submenuHeaderLink {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
  padding: 0px;
  justify-content: space-between;
  text-decoration: none;
  align-items: start;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.submenuHeaderLink:hover {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.active {
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}
.link_text {
  white-space: nowrap;
  text-decoration: none;
  font-size: 15px;
}

.menu {
  display: flex;
  color: white;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.sub_menu {
  display: flex;
  color: white;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px 10px;
  border-right: 4px solid transparent;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  justify-content: space-between;
}
.menu_item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu_container {
  display: flex;
  flex-direction: column;
}
.menu_container .link {
  padding-left: 20px;
}

/* Sidebar */
.sidebarOpen {
  background: #242a38;
  color: white;
  width: 250px;
}
.sidebarClosed {
  background: #242a38;
  color: white;
  width: 45px;
}

.mainFull {
  width: 98%;
}
.mainSmall {
  width: 87%;
}
.navlink_icon {
  width: 20px;
}

/* Service Provider */
.profile_box {
  padding: 20px 12px;
  gap: 10px;
}
.profile_box .profile_name {
  font-size: 18px;
}
.profile_box .email {
  font-size: 12px;
}

.orders_card {
  height: 56px;
}
.orders_card .orders_title {
  font-size: 12px;
}

/* Service Provider */
/* Feed */
.post_image {
  width: 100%;
  height: auto;
}
.current_offer_i {
  width: 200px;
}
.current_offer_off {
  width: 60px;
  height: 60px;
}
.off_text {
  font-size: 12px;
}
/* Feed */
/* Chat */
.chat_name {
  font-size: 16px;
}
.chat_list_box {
  padding: 16px;
}
/* Chat */

/* Media Query */
@media (min-width: 1280px) and (max-width: 1440px) {
  /* Sidebar */
  .sidebarOpen {
    color: white;
    width: 180px;
  }
  .sidebarClosed {
    color: white;
    width: 35px;
  }
  .mainFull {
    width: 97%;
  }
  .mainSmall {
    width: 85.8%;
  }
  .logo {
    height: 20px;
  }
  .link_text {
    white-space: nowrap;
    text-decoration: none;
    font-size: 10px;
  }
  .navlink_icon {
    width: 14px;
  }

  /* Service Provider */
  .profile_box {
    padding: 10px 6px;
    gap: 6px;
  }
  .profile_box .profile_name {
    font-size: 12px;
  }
  .profile_box .email {
    font-size: 8px;
  }

  .orders_card {
    height: 36px;
    width: 72px;
  }
  .orders_card .orders_title {
    font-size: 8px;
  }

  /* Service Provider */
  /* Customer */

  /* Customer */

  /* Feed */
  .current_offer_i {
    width: 156px;
  }
  .current_offer_off {
    width: 36px;
    height: 36px;
  }
  .current_offer_off .off_text {
    font-size: 8px;
  }
  /* Feed */
  /* Chat */
  .chat_name {
    font-size: 12px;
  }
  .chat_list_box {
    padding: 6px;
  }
  /* Chat */
  /* 
  .sub_menu {
    display: flex;
    color: white;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    justify-content: space-between;
  }
  .menu_container {
    display: flex;
    flex-direction: column;
    width: 95%;
  }
  .menu_container .link {
    padding-left: 10px;
    font-size: 8px;
  } */
}
