body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: flex;
}
.loader:before,
.loader:after {
  content: "";
  flex: 1;
  margin: 0 0 0 -2px;
  --c: no-repeat linear-gradient(#046d8b 0 0);
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 100% 100%, var(--c) 0 100%,
    var(--c) 0 50%;
  animation: l17 1s infinite alternate;
}
.loader:before {
  transform: scale(-1);
  margin: 0 -2px 0 0;
}
@keyframes l17 {
  0%,
  5% {
    background-size: 0 4px, 4px 0, 0 4px, 4px 0, 0 4px;
  }
  20% {
    background-size: 100% 4px, 4px 0, 0 4px, 4px 0, 0 4px;
  }
  40% {
    background-size: 100% 4px, 4px 100%, 0 4px, 4px 0, 0 4px;
  }
  60% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 0, 0 4px;
  }
  80% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 50%, 0 4px;
  }
  95%,
  100% {
    background-size: 100% 4px, 4px 100%, 100% 4px, 4px 50%, 100% 4px;
  }
}

.no-outline-on-input-focus {
  outline: none;
  border: none;
}
.no-outline-on-input-focus:focus {
  outline: none;
  border: none;
}

.talkbubbleAdmin {
  width: auto;
  height: auto;
  background: #24459c;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.talkbubbleAdmin:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 10%;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 12px solid #24459c;
  border-bottom: 8px solid transparent;
}
.talkbubbleUser {
  width: auto;
  height: auto;
  background: #eaeefa;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.talkbubbleUser:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 10%;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 12px solid #eaeefa;
  border-bottom: 8px solid transparent;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #24459c;
}
.option-input:checked::before {
  width: 40px;
  height: 40px;
  display: flex;
  content: "\2713";
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

/* Speedometer */
@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 1turn at 30% 100%,
    #58d9f9 110deg,
    yellow 40deg,
    #ca583f 110deg
  );
  mask: radial-gradient(at 50% 100%, white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  overflow: hidden;
  border-radius: 50% / 100% 100% 0 0;
}

[role="progressbar"]::after {
  content: "";
  width: 48%;
  height: 10%;
  position: absolute;
  bottom: -5%;
  left: 0;
  background: radial-gradient(circle at 96% 50%, #fff 4%, #5470c6 0 5%, #0000 0),
    conic-gradient(
      at -20% 50%,
      #0000 88deg,
      #000 88.25deg 91.75deg,
      #0000 92deg
    );
  transform-origin: 100% 50%;
  transform: rotate(calc(var(--value) * 180deg / 100));
  transition: ease-in-out;
}

/* Three dot spinner */
.three_dot_spinner {
  background: #20c18d;
  height: 12px;
  --_g: no-repeat radial-gradient(farthest-side, #000 94%, #0000);
  background: var(--_g) 25% 0, var(--_g) 75% 0;
  background-size: 12px 12px;
  position: relative;
  animation: l24-0 1s linear infinite;
}
.three_dot_spinner:before {
  content: "";
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #20c18d;
  inset: 0;
  margin: auto;
  animation: l24-1 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}
@keyframes l24-0 {
  0%,
  24% {
    background-position: 25% 0, 75% 0;
  }
  40% {
    background-position: 25% 0, 85% 0;
  }
  50%,
  72% {
    background-position: 25% 0, 75% 0;
  }
  90% {
    background-position: 15% 0, 75% 0;
  }
  100% {
    background-position: 25% 0, 75% 0;
  }
}
@keyframes l24-1 {
  100% {
    transform: translate(0.1px);
  }
}
